:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondry-color: #f9f7fe;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;

  color: black;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--secondry-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0px;
    text-align: center;
  }
  .project-description-part2 {
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
}
.project-description-part2 {
  padding: 0;
}
.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
}
.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
  text-align: center;
  padding: 0;
}
.pic {
  width: 400px;
  height: 550px;
  border-radius: 4px;
}
